<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectBlacklist">
		SELECT
		        m.MEM_ID AS "MEM_ID",
		        m.NICKNAME AS "NICKNAME",
		        b.BLOCK_TYPE AS "BLOCK_TYPE",
		        b.BLOCK_COUNT AS "BLOCK_COUNT",
		        r.MEM_ID "REPORT_ID",
		        b.BLOCK_DATE "BLOCK_DATE"
		  FROM
		        MEMBER_BLACKLIST b
		  JOIN
		        MEMBER m ON b.MEM_NO = m.MEM_NO 
		  JOIN
		        MEMBER r ON b.REPORTMEM_NO = r.MEM_NO  
		  ORDER
		     BY
		        b.BLOCK_DATE DESC
	</entry>
	<entry key="selectMemberCount">
		SELECT COUNT(MEM_NO) AS "COUNT"
		  FROM MEMBER
		 WHERE EXTRACT(MONTH FROM ENROLL_DATE) = ?
		   AND STATUS != 'N'
	</entry>
	
	<entry key="selectItem">
		SELECT ITEM_NUM
		     , CATEGORYNAME
		     , ITEM_NAME
		     , PRICE
		     , ITEM_INTRO
		     , ITEM_DATE
		     , ITEM_STATUS
		     , FILE_PATH || CHANGE_NAME AS SAVE_FILE
		  FROM ITEM
		  JOIN ITEMCATEGORY USING(ITEM_CATEGORY)
		  JOIN ATTACHMENT ON (ATTACHMENT_NO = FILE_NO)
		 WHERE ITEM_STATUS = 'Y'
		 ORDER
		    BY ITEM_NUM DESC  
	</entry>
	
	<entry key="selectItemCategory">
		SELECT ITEM_CATEGORY
		     , CATEGORYNAME
		  FROM ITEMCATEGORY
	</entry>
	
	
	<entry key="choiceCategory">
		SELECT ITEM_NUM
		     , CATEGORYNAME
		     , ITEM_NAME
		     , PRICE
		     , ITEM_INTRO
		     , ITEM_DATE
		     , ITEM_STATUS
		     , FILE_PATH || CHANGE_NAME AS SAVE_FILE
		  FROM ITEM I
		  JOIN ITEMCATEGORY IC USING(ITEM_CATEGORY)
          JOIN ATTACHMENT ON (ATTACHMENT_NO = FILE_NO)
		 WHERE ITEM_STATUS = 'Y'
		   AND IC.CATEGORYNAME = ?
		 ORDER
		    BY ITEM_NUM DESC
	</entry>
	
	<entry key="insertItemImg">
		INSERT 
		  INTO ATTACHMENT 
			 (
			   FILE_NO
			 , ORIGIN_NAME
			 , CHANGE_NAME
			 , FILE_PATH
			 , FILE_POSITION
)
		VALUES 
			 (
			   SEQ_ATT.NEXTVAL
			 , ?
			 , ?
			 , ?
			 , 3
			 )
	</entry>
	
	<entry key="insertItem">
		INSERT
		  INTO ITEM 
				  ( ITEM_NUM
				  , ITEM_CATEGORY
				  , ITEM_NAME
				  , PRICE
				  , ITEM_INTRO
				  , ITEM_STATUS
				  , ATTACHMENT_NO)
			 VALUES 
				  (
				    SEQ_ITEM.NEXTVAL
				  , ?
				  , ?
				  , ?
				  , ?
				  , 'Y' 
				  , SEQ_ATT.CURRVAL
					 )
	</entry>
	
	<entry key="selectMemberList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		               SELECT 
		                      MEM_NO
		                    , MEM_ID
		                    , NICKNAME
		                    , TO_CHAR(BIRTHDATE, 'MM/DD') AS BIRTHDAY
		                    , EMAIL
		                    , DECODE(GENDER, 'M', '남자', 'F', '여자') AS GENDER
		                    , ENROLL_DATE
		                    , EGG
		                    , STATUS
		                 FROM 
		                      MEMBER
		                WHERE MEM_ID != 'admin'
		                ORDER
		                   BY MEM_NO ASC
		               ) A
		       )
		       WHERE RNUM BETWEEN ? AND ?
	</entry>	
	
	<entry key="memberCount">
		SELECT COUNT(MEM_NO) AS "COUNT"
		  FROM MEMBER
		 WHERE STATUS != 'N'
	</entry>
	
	<entry key="insertBlackList">
		INSERT
		  INTO MEMBER_BLACKLIST 
		       (
		         BLACKLIST_NO
		       , MEM_NO
		       , REPORTMEM_NO
		       , BLOCK_TYPE
		       , BLOCK_DATE
		       , BLOCK_COUNT
		       , EXPIRY_DATE
		       ) 
		VALUES (
		       SEQ_BLACKLIST.NEXTVAL
		       , ?
		       , 4
		       , '불법 행위로 인한 블랙리스트 등록'
		       , SYSDATE
		       , 0
		       , SYSDATE + INTERVAL '3' DAY 
		       )
	</entry>
	
	<entry key="updateBlockCount">
		UPDATE MEMBER_BLACKLIST
		   SET BLOCK_COUNT = BLOCK_COUNT + 1
		 WHERE BLACKLIST_NO = SEQ_BLACKLIST.CURRVAL
	</entry>
</properties>