<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectBlacklist">
		SELECT
		        m.MEM_ID AS "MEM_ID",
		        m.NICKNAME AS "NICKNAME",
		        b.BLOCK_TYPE AS "BLOCK_TYPE",
		        b.BLOCK_COUNT AS "BLOCK_COUNT",
		        r.MEM_ID "REPORT_ID",
		        b.BLOCK_DATE "BLOCK_DATE"
		  FROM
		        MEMBER_BLACKLIST b
		  JOIN
		        MEMBER m ON b.MEM_NO = m.MEM_NO 
		  JOIN
		        MEMBER r ON b.REPORTMEM_NO = r.MEM_NO  
		  ORDER
		     BY
		        b.BLOCK_DATE DESC
	</entry>
	<entry key="selectMemberCount">
		SELECT COUNT(MEM_NO) AS "COUNT"
		  FROM MEMBER
		 WHERE EXTRACT(MONTH FROM ENROLL_DATE) = ?
		   AND STATUS != 'N'
	</entry>
	
	<entry key="selectPostCount">
		SELECT COUNT(POST_NUM) AS "COUNT"
		  FROM POST
		 WHERE EXTRACT(MONTH FROM POST_REGDATE) = ?
		   AND POST_STATUS != 'N'
	</entry>
	<entry key="selectItem">
		SELECT ITEM_NUM
		     , CATEGORYNAME
		     , ITEM_NAME
		     , PRICE
		     , ITEM_INTRO
		     , ITEM_DATE
		     , ITEM_STATUS
		     , FILE_PATH || CHANGE_NAME AS SAVE_FILE
		     , ITEM_TAG
		     , CHANGE_NAME
		  FROM ITEM
		  JOIN ITEMCATEGORY USING(ITEM_CATEGORY)
		  JOIN ATTACHMENT ON (ATTACHMENT_NO = FILE_NO)
		 WHERE ITEM_STATUS = 'Y'
		 ORDER
		    BY ITEM_NUM DESC  
	</entry>
	
	<entry key="selectItemCategory">
		SELECT ITEM_CATEGORY
		     , CATEGORYNAME
		  FROM ITEMCATEGORY
	</entry>
	
	
	<entry key="choiceCategory">
		SELECT ITEM_NUM
		     , CATEGORYNAME
		     , ITEM_NAME
		     , PRICE
		     , ITEM_INTRO
		     , ITEM_DATE
		     , ITEM_STATUS
		     , FILE_PATH || CHANGE_NAME AS SAVE_FILE
		     , ITEM_TAG
		  FROM ITEM I
		  JOIN ITEMCATEGORY IC USING(ITEM_CATEGORY)
          JOIN ATTACHMENT ON (ATTACHMENT_NO = FILE_NO)
		 WHERE ITEM_STATUS = 'Y'
		   AND IC.CATEGORYNAME = ?
		 ORDER
		    BY ITEM_NUM DESC
	</entry>
	
	<entry key="insertItemImg">
		INSERT 
		  INTO ATTACHMENT 
			 (
			   FILE_NO
			 , ORIGIN_NAME
			 , CHANGE_NAME
			 , FILE_PATH
			 , FILE_POSITION
)
		VALUES 
			 (
			   SEQ_ATT.NEXTVAL
			 , ?
			 , ?
			 , ?
			 , 3
			 )
	</entry>
	
	<entry key="insertItem">
		INSERT
		  INTO ITEM 
				  ( ITEM_NUM
				  , ITEM_CATEGORY
				  , ITEM_NAME
				  , PRICE
				  , ITEM_INTRO
				  , ITEM_STATUS
				  , ATTACHMENT_NO
				  , ITEM_TAG
				  )
			 VALUES 
				  (
				    SEQ_ITEM.NEXTVAL
				  , ?
				  , ?
				  , ?
				  , ?
				  , 'Y' 
				  , SEQ_ATT.CURRVAL
				  , ?
					 )
	</entry>
	
	<entry key="selectMemberList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		               SELECT 
		                      MEM_NO
		                    , MEM_ID
		                    , NICKNAME
		                    , TO_CHAR(BIRTHDATE, 'MM/DD') AS BIRTHDAY
		                    , EMAIL
		                    , DECODE(GENDER, 'M', '남자', 'F', '여자') AS GENDER
		                    , ENROLL_DATE
		                    , EGG
		                    , STATUS
		                 FROM 
		                      MEMBER
		                WHERE MEM_ID != 'admin'
		                ORDER
		                   BY MEM_NO ASC
		               ) A
		       )
		       WHERE RNUM BETWEEN ? AND ?
	</entry>	
	
	<!-- 페이징 처리시 필요 -->
	<entry key="memberCount">
		SELECT COUNT(MEM_NO) AS "COUNT"
		  FROM MEMBER
		 WHERE STATUS != 'N'
	</entry>
	
	<entry key="insertBlackList">
		INSERT
		  INTO MEMBER_BLACKLIST 
		       (
		         BLACKLIST_NO
		       , MEM_NO
		       , REPORTMEM_NO
		       , BLOCK_TYPE
		       , BLOCK_DATE
		       , BLOCK_COUNT
		       , EXPIRY_DATE
		       ) 
		VALUES (
		       SEQ_BLACKLIST.NEXTVAL
		       , ?
		       , 4
		       , '불법 행위로 인한 블랙리스트 등록'
		       , SYSDATE
		       , 0
		       , SYSDATE + INTERVAL '3' DAY 
		       )
	</entry>
	
	<entry key="updateBlockCount">
		UPDATE MEMBER_BLACKLIST
		   SET BLOCK_COUNT = BLOCK_COUNT + 1
		 WHERE BLACKLIST_NO = ?
	</entry>
	
	<entry key="updateBkStatus">
		UPDATE MEMBER
		   SET STATUS = 'B'
		 WHERE MEM_NO = ?
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="deleteItem">
		UPDATE ITEM
		   SET ITEM_STATUS = 'N'
		 WHERE ITEM_NUM = ?
	</entry>
	
	<entry key="updatePrice">
		UPDATE ITEM
		   SET PRICE = ?
		 WHERE ITEM_NUM = ?
	</entry>
	
	<entry key="updateItemImg">
		UPDATE ATTACHMENT
		   SET ORIGIN_NAME = ?,
      	   	   CHANGE_NAME = ?
		 WHERE FILE_NO = (SELECT 
		                         ATTACHMENT_NO
		                    FROM ITEM
		                   WHERE ITEM_NUM = ?
		                 )
	</entry>
	
	<entry key="deleteImg">
		DELETE 
		  FROM ATTACHMENT
		 WHERE CHANGE_NAME = ?
	</entry>
	
	<entry key="searchMember">
		SELECT   MEM_NO
               , MEM_ID
               , NICKNAME
               , TO_CHAR(BIRTHDATE, 'MM/DD') AS BIRTHDAY
               , EMAIL
               , DECODE(GENDER, 'M', '남자', 'F', '여자') AS GENDER
               , ENROLL_DATE
               , EGG
               , STATUS
		  FROM MEMBER
		 WHERE MEM_ID like ?
		    OR NICKNAME like ?
	</entry>
	
	<entry key="deleteBlack">
		DELETE FROM MEMBER_BLACKLIST
	 	 WHERE MEM_NO = ?
	</entry>
	
	<entry key="updateBkStatusY">
		UPDATE MEMBER
		   SET STATUS = 'Y'
		 WHERE MEM_NO = ?
		   AND STATUS = 'B'
	</entry>
	
	<entry key="selectPostList">
		SELECT 
		       POST_NUM
		     , POST_TYPE
		     , POST_TITLE
		     , POST_CONTENT
		     , POST_TAG
		     , POST_SCOPE
		     , NICKNAME
		     , POST_COUNT
		     , TO_CHAR(POST_REGDATE, 'YY/MM/DD') AS POST_REGDATE
		     , FILE_PATH || CHANGE_NAME AS POST_ATTACHMENT
		     , POST_BLOCK
		  FROM POST
		  JOIN MEMBER ON (POST_WRITER = MEM_NO)
		  JOIN ATTACHMENT ON (POST_ATTACHMENT_NO = FILE_NO)
		 WHERE POST_STATUS = 'Y'
		 ORDER
		    BY POST_NUM DESC
	</entry>
	
	<entry key="insertNoticeImg">
		INSERT 
		  INTO ATTACHMENT 
			 (
			   FILE_NO
			 , ORIGIN_NAME
			 , CHANGE_NAME
			 , FILE_PATH
			 , FILE_POSITION
			 )
		VALUES 
			 (
			   SEQ_ATT.NEXTVAL
			 , ?
			 , ?
			 , ?
			 , 1
			 )
	</entry>
	
	<entry key="insertNotice">
		INSERT 
		  INTO POST 
		          (
		            POST_NUM
		          , POST_TYPE
		          , POST_TITLE
		          , POST_CONTENT
		          , POST_WRITER
		          , POST_REGDATE
		          , POST_ATTACHMENT_NO
		          )
		     VALUES
		          (
		            SEQ_POST.NEXTVAL
		          , 2
		          , ?
		          , ?
		          , 4
		          , SYSDATE
		          , ?
		       )
	</entry>
	
	<entry key="deleteNotice">
		UPDATE POST
		   SET POST_STATUS = 'N'
		 WHERE POST_NUM = ?
	</entry>
	
	<entry key="insertNoticeHTML">
		INSERT 
		  INTO NOTICE
				    (
				      NOTICE_NO
				    , NOTICE_HTML
				    , POST_NO  
				    )
			   VALUES
				    (
				      SEQ_NOTICE.NEXTVAL
				    , ?
				    , ?
				    )
	</entry>
	
	<entry key="selectNoticeHTML">
		SELECT NOTICE_HTML 
		  FROM NOTICE
		 WHERE POST_NO = ?
	</entry>
	
	<entry key="updatePostBlock">
		UPDATE POST
		   SET POST_BLOCK = 'Y'
		 WHERE POST_NUM = ?
	</entry>
	
	<entry key="selectPostType">
		SELECT POST_TYPE
		     , POST_TYPE_NAME
  		  FROM POST_TYPE
	</entry>
	
	<entry key="choicePostType">
		SELECT 
		       POST_NUM
		     , POST_TYPE
		     , POST_TITLE
		     , POST_CONTENT
		     , POST_TAG
		     , POST_SCOPE
		     , NICKNAME
		     , POST_COUNT
		     , TO_CHAR(POST_REGDATE, 'YY/MM/DD') AS POST_REGDATE
		     , FILE_PATH || CHANGE_NAME AS POST_ATTACHMENT
		     , POST_BLOCK
		  FROM POST
		  JOIN MEMBER ON (POST_WRITER = MEM_NO)
		  JOIN ATTACHMENT ON (POST_ATTACHMENT_NO = FILE_NO)
          JOIN POST_TYPE PT USING(POST_TYPE)
		 WHERE POST_STATUS = 'Y'
           AND PT.POST_TYPE_NAME = ?
		 ORDER
		    BY POST_NUM DESC
	</entry>
	
	<entry key="selectPost">
		SELECT POST_NUM
		     , POST_TYPE
		     , POST_TITLE
		     , POST_CONTENT
		     , POST_TAG
		     , POST_SCOPE
		     , NICKNAME
		     , POST_COUNT
		     , TO_CHAR(POST_REGDATE, 'YY/MM/DD') AS "POST_REGDATE"
		     , POST_STATUS
		     , POST_BLOCK
		     , FILE_PATH || CHANGE_NAME AS SAVEPATH
		  FROM POST
		  JOIN MEMBER ON (POST_WRITER = MEM_NO)
		  JOIN ATTACHMENT ON (POST_ATTACHMENT_NO = FILE_NO)
		 WHERE POST_TYPE = 1
		   AND POST_NUM = ?
	</entry>
</properties>