<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectBlacklist">
		SELECT
		        m.MEM_ID AS "MEM_ID",
		        m.NICKNAME AS "NICKNAME",
		        b.BLOCK_TYPE AS "BLOCK_TYPE",
		        b.BLOCK_COUNT AS "BLOCK_COUNT",
		        r.MEM_ID "REPORT_ID",
		        b.BLOCK_DATE "BLOCK_DATE"
		  FROM
		        MEMBER_BLACKLIST b
		  JOIN
		        MEMBER m ON b.MEM_NO = m.MEM_NO 
		  JOIN
		        MEMBER r ON b.REPORTMEM_NO = r.MEM_NO  
		  ORDER
		     BY
		        b.BLOCK_DATE DESC
	</entry>
	<entry key="selectMemberCount">
		SELECT COUNT(MEM_NO) AS "COUNT"
		  FROM MEMBER
		 WHERE EXTRACT(MONTH FROM ENROLL_DATE) = ?
		   AND STATUS != 'N'
	</entry>
</properties>