div,
img {
    box-sizing: border-box;
}

#wrap {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border-radius: 20px;
    margin: auto;
    position: relative;
    display: flex;
    box-sizing: border-box;
}

#container {
    width: 100%;
    height: 100%;
    background-color: white;
    /*색상 변경*/
    border-radius: 20px;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

@font-face {
    font-family: 'Katuri';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

div,
ul,
li,
a,
button {
    font-family: 'omyu_pretty';
}

#wrap #container #right {
    width: 100%;
    height: 100%;
}

#wrap #container #right #post-right__title {
    width: 90%;
    height: 15%;
    display: flex;
    border-bottom: 5px solid #08817d;
    margin-left: 80px;
}

#wrap #container #right #post-right__title #right-title__text {
    width: 50%;
    height: 100%;
    font-size: 50px;
    font-family: 'Katuri';
    padding: 35px 30px;
    color: #52b8b8;
}

#wrap #container #right #post-right__title #right-title__btn {
    width: 50%;
    position: relative;
    display: flex;
}

#wrap #container #right #post-right__title #right-title__btn button:hover {
    transition: .3s;
    background-color: #07BEB8;
    color: #ffffff;
}

#wrap #container #right #post-right__title #right-title__btn button {
    width: 100px;
    height: 50px;
    background-color: #80FFDB;
    color: #08817d;
    border: none;
    border-radius: 10px;
    position: absolute;
    transition: .3s;
}

button.btn-set {
    border-radius: 6px;
    background-color: #4d8583;
    border: none;
    color: #FFFFFF;
    font-size: 17px;
    width: 100px;
    transition: all 0.3s;
    cursor: pointer;
    right: 0;
    top: 35px;
}

button.btn-set span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.btn-set span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.3s;
}

button.btn-set:hover span {
    padding-right: 15px;
}

button.btn-set:hover span:after {
    opacity: 1;
    right: 0;
}

#wrap #container #right #post-right__list {
    width: 90%;
    height: 82%;
    border-bottom: 5px solid #60a5a3;
    margin-left: 80px;
    position: relative;
}

.right-list__content {
    position: relative;
}

.right-list__content ul {
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
}

.right-list__content div ul {
    margin-top: 0.5%;
    background-color: #d9f5f4;
}

.right-list__content div ul:hover {
    background-color: white;
    transition: 0.3s;
    cursor: pointer;
}

.right-list__content ul li {
    width: 300px;
    height: 64px;
    line-height: 4;
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
}

#list_view li {
    border-right: 0.5px solid #e5e5e5;
}
.paging-area
{
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin: 1%;
}
#firstul
{
    background-color: white;
}
.paging-area button
{
    border: none;
    background-color: white;
    color: #07BEB8;
}
.paging-area button:hover
{
    cursor: pointer;
}
.butchoice
{
    color: rgb(161, 161, 161);
}
/*모달부분*/
.modal {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* 배경 반투명 */
}

/* 모달 내용 */
.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #f1f1f1;
  width: 80%;
}

/* 닫기 버튼 스타일 */
.close {
  color: #929292;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-content
{
    width: 70%;
    height: 90%;
    margin-top: 1.5%;
}
.modal_container
{
    border: 0.3px solid rgb(240, 238, 238);
    width: 100%;
    height: 100%;
}
.modal_top
{
    border: 0.5px solid black;
    width: 100%;
    height: 5%;
    display: flex;
    line-height: 180%;
}
.modal_title
{
    border-right: 0.5px solid black;
    height: 100%;
    width: 70%;
}
.modal_rngdate
{
    height: 100%;
    width: 30%;
}
.modal_body
{
    border: 0.5px solid black;
    width: 100%;
    height: 95%;
}