/* div, img {
    box-sizing: border-box;
} */

#container {
    width: 1526px;
    height: 810px;
    background-color: white; 
    top: 2.5%;
    left: 1.5%;
    overflow: hidden;
} 


@font-face {
    font-family: 'Katuri';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 관리 css */

#container div{
    
}

#turtle-egg-header{
    width: 100%;
    height: 8%;
    background-color: #07BEB8;
    position: relative;
}

#turtle-egg-header #teh__text{
    font-family: 'katuri';
    font-size: 40px;
    padding: 16px 100px;
    color: #fff;
}

#turtle-egg-header>.btn-back{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'omyu_pretty';
    transition: all .5s;
    box-shadow: none;
    position: absolute;
    top: 12px;
    right: 30px;
    background-color: #fff;


     &:hover {
    border-radius:20px;
    box-shadow: 0 0 5px #64DFDF, 0 0 10px #56CFE1, 0 0 15px #48BFE3;
    transition-duration:.5s;
    }
}

#turtle-egg-header>.reload{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'omyu_pretty';
    transition: all .5s;
    box-shadow: none;
    position: absolute;
    top: 12px;
    right: 200px;
    background-color: #fff;


     &:hover {
    border-radius:20px;
    box-shadow: 0 0 5px #64DFDF, 0 0 10px #56CFE1, 0 0 15px #48BFE3;
    transition-duration:.5s;
    }
}

#turtle-egg-content{
    width: 60%;
    height: 758px;
    margin: 15px auto 0;
    position: relative;
}

#turtle-egg-content>div{
    width: 100%;
}

#turtle-egg-content #turtle-egg{
    border-radius: 10px;
    height: 180px;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px #e5e5e5;
}

#turtle-egg-content #turtle-egg>div{
    width: 100%;

}

#turtle-egg-content #turtle-egg #turtle-egg__top{
    height: 40%;
    display: flex;
    font-family: 'omyu_pretty';
    font-size: 40px;
    background-color: #a7d3da;
}
#turtle-egg__top>div{
    width: 40%;
    line-height: 80px;
    font-weight: 700;
}

#turtle-egg__top #top__text{
    margin-left: 100px;
}

#turtle-egg__top #top__point{
    text-align: right;
}

#turtle-egg__top #top__p-text{
    width: 20%;
    padding-left: 20px;
}

#turtle-egg-content #turtle-egg #turtle-egg__bot{
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#turtle-egg__bot>button{
    width: 300px;
    height: 80px;
    border-radius: 20px;
    font-size: 50px;
    font-family: 'omyu_pretty';
    font-weight: 700;
    transition: all .5s;
    box-shadow: none;
    border: 1px solid #64DFDF;

     &:hover {
    border-radius:20px;
    box-shadow: 0 0 5px #64DFDF, 0 0 10px #56CFE1, 0 0 15px #48BFE3;
    transition-duration:.5s;
    } 
}



#turtle-egg-content #charge-list{
    height: 480px;
}

#charge-list>div{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
}


#charge-list #charge-list__top{
    height: 11%;
    margin-bottom: 10px;
    text-align: right;
    position: relative;
}

#charge-list #charge-list__top #list-top__text{
    position: absolute;
    top: 8px;
    left: 100px;
    font-family: 'omyu_pretty';
    font-size: 40px;
    font-weight: 700;
}

#charge-list #charge-list__top input{
    margin: 15px 20px;
    border-radius: 10px;
    font-family: 'omyu_pretty';
    font-size: 18px;
}

#charge-list #charge-list__top button{
    width: 60px;
    height: 30px;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'omyu_pretty';
    transition: all .5s;
    box-shadow: none;
    border: 1px solid #64DFDF;
    margin-right: 20px;
    background-color: #fff;

     &:hover {
    border-radius:20px;
    box-shadow: 0 0 5px #64DFDF, 0 0 10px #56CFE1, 0 0 15px #48BFE3;
    transition-duration:.5s;
    } 
}

#charge-list #charge-list__bot{
    height: 470px;
    overflow: hidden;
}

#charge-list #charge-list__bot tr{
    height: 42px;
    border-bottom: 1px solid #e5e5e5;
}

#charge-list #charge-list__bot tr:hover{
    cursor: pointer;
}

#charge-list #charge-list__bot tr th,td{
    text-align: center;
}




.modal-header>.modal-title{
    font-family: 'omyu_pretty';
    font-size: 30px;
    font-weight: 700;
    margin-left: 50px;
}

.modal-body{
    padding-top: 0;
    font-family: 'omyu_pretty';
    display: flex;
}

.modal-body ul{
    width: 400px;
    height: 100%;
    margin: 0 10px;
}

.modal-body li{
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    height: 80px;
    position: relative;
    width: 100%;
}

.modal-body li div, .modal-body li button{
    font-family: 'omyu_pretty';
}

.modal-body li>div{
    position: absolute;
    top: 30px;
    font-weight: 700;
    font-size: 25px;
}

.modal-body li>button{
    width: 100px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 20px;
}

