@font-face {
  font-family: 'omyu_pretty';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Katuri';
  src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

div, img {
  box-sizing: border-box;
}

#wrap {
  width: 100vw;
  height: 100vh;
  margin: 0;
  border-radius: 20px;
  overflow: hidden;
  background-color:  #80FFDB ; /*색상 변경*/
  margin: auto;
  position: relative;
  display: grid;
  box-sizing: border-box;
  z-index:2;
}

#container {
  width: 100%;
  height: 100%;
  border: 1px solid #64DFDF ; /*색상 변경*/
  border-radius: 20px;
  position: absolute;
}

/* 애니메이션 배경 화면 */
.background{
  width: 100%;
  height: 100%;
  position:absolute;
  opacity: .7;
  z-index:-1;
  border-radius:20px;
}

/* 애니메이션 효과 */
.animate__animated.animate__zoomInDown{
  --animate-duration:2s;
  position:relative;
  display:flex;
}

/* 회원가입 화면 */

form{
  margin-left:10%;
}

.form_area {
  width:45%;
  height:280px;
  margin-left:450px;
  margin-top:-2%;
  padding:3%;
  position:absolute;
  flex-direction: column;
  border-radius: 20px;
  font-family: "omyu_pretty";
}

#basicInfoForm{
  margin-top:25px;
  padding:2px;
}

#basicInfoForm{
  margin-left:180px;
}

#moreInfoForm{
  position:relative;
  margin-left:800px;
  margin-top:120px;
}

.title {
  color: #6a08a2;
  font-weight: 400;
  font-size: 40px;
  margin-left:25%;
  font-family:Katuri;
}

#secondTitle{
  margin-left:40%;
}

.sub_title {
  font-weight: 600;
  margin: 10px;
  font-size:25px;
}

.form_group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

.form_style {
  outline: none;
  border: 2px solid #264143;
  box-shadow: 3px 4px 0px 1px #5390D9;
  width: 500px;
  height:50px;
  padding: 15px 8px;
  border-radius: 4px;
  font-size: 20px;
}

/* 추가정보 입력 화면 */

.form_group_2{
display:flex;
position:relative;
flex-wrap: wrap;
margin:25px;
gap:1rem;
left:15%;
}

label .sub_title{
position:absolute;
}

#zodiac, #mbti{
position: absolute;
left:240px;
width:130px;
height:45px;
padding:10px;
border: transparent;
border-radius:10px;
text-align:center;
font-size:23px;
background-color:transparent;
}

.select option{
background-color: #cafff0;
color:#08817d;
}

.Radio{
width:50px;
height:50px;
display: flex;
align-items: center;      
margin-right: 2rem;      
}

.Radio input[type="radio"] {
position: absolute;
left: -9999px;
opacity: 0;
}

.Radio input[type="radio"] + label {
position: relative;
display: flex;
align-items:center;
padding-left:5rem;
line-height: 3rem;
cursor: pointer;
white-space: nowrap;
color: #212529;
font-size:25px;
}

.form_group.form_gender{
  float:left;
  flex-direction:row;
  position:absolute;
  left:25%;
  top:70%;
}

.form_group_ABO{
display:flex;
width:550px;
position:absolute;
top:105%;
}

.Radio label{
float:left;
width:70px;
height:70px;
margin:30px;
}

.Radio input[type="radio"] + label::before,
.Radio input[type="radio"] + label::after {
content: "";
display: flex;
position: absolute;
top: 50%;
left: 0;
transform: translateY(-50%);
transition: 0.5s;
}

.Radio input[type="radio"] + label {
padding-left: 2rem;
}


.Radio input[type="radio"] + label::before {
width: 2rem;
aspect-ratio: 1 / 1;
border-radius: 50%;
background: #86bcff;
}

.Radio input[type="radio"] + label::after {
left: 0.2rem;
width: 1.4rem;
transform: translateY(-50%) scale(0);
}

.Radio input[type="radio"]:not(:checked) + label::after {
animation: radio 0.5s linear;
}

.Radio input[type="radio"]:checked + label::after {
transform: translateY(-50%) scale(1);
}

.Radio input[type="radio"] + label::after {
aspect-ratio: 1 / 1;
border: 0.1rem solid #fff;
border-radius: 50%;
background: radial-gradient(circle at 70% 30%, #fff, rgba(0, 0, 0, 0) 25%),
  radial-gradient(
    circle at 60% 55%,
    rgba(0, 0, 0, 0) 60%,
    rgba(255, 0, 255, 0.8) 100%
  ),
  radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 255, 255, 0.2) 60%,
    rgba(0, 0, 0, 0) 68%
  ),
  radial-gradient(
    circle at 50% 55%,
    rgba(0, 0, 0, 0) 35%,
    rgba(255, 255, 0, 0.2) 45%,
    rgba(0, 0, 0, 0) 55%
  );
}

@keyframes radio {
0% {
  transform: translateY(-50%) scale(1);
}
100% {
  transform: translateY(-50%) scale(1.7);
}
}

/* Welcome버튼 */
/* From Uiverse.io by mrhyddenn */ 
.welcome{
  position: relative;
  top:60%;
}

#welcome {
  position:absolute;
  width:400px;
  left:80px;
  top: 40%;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#welcome:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#welcome:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

#welcome::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

#welcome:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}


